* {
    font-family: "Roboto", sans-serif;
}

:root {
    --coolgray-90: rgba(33, 39, 42, 1);
    --sky-primary-blue: rgba(0, 15, 245, 1);
    --form-input-text: rgba(77, 77, 77, 1);
    --container-outline: rgba(74, 74, 74, 1);
    --not-applicable: rgba(204, 204, 204, 1);
    --error: rgba(221, 23, 23, 1);
    --positive: rgba(0, 126, 19, 1);
    --dropdown-choice: rgba(0, 0, 0, 1);
    --dropdown-color-highlight: rgba(229, 229, 229, 1);
    --amber: rgba(241, 90, 34, 1);
    --sky-gradient: linear-gradient(
        to right,
        rgba(255, 140, 0, 1) 0%,
        rgba(248, 0, 50, 1) 17%,
        rgba(255, 0, 160, 1) 35%,
        rgba(140, 40, 255, 1) 59%,
        rgba(0, 35, 255, 1) 76%,
        rgba(25, 160, 255, 1) 100%);
}

main {
    padding-top: 90px;
}
