/*Login CSS*/

body {
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

main {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 40px auto;
}

.loginImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20;
}

.loginImage img {
    max-width: 60%;
    height: auto;
    margin-left: 150px;
}

.loginForm {
    flex: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    aspect-ratio: 1 / 1;
    margin-right: 200px;
    max-width: 400px;
    box-shadow: -5px 0 7px rgba(0, 0, 0, 0.07),
                0 5px 7px rgba(0, 0, 0, 0.07),
                5px 0 7px rgba(0, 0, 0, 0.07);
}

.loginTitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    background: linear-gradient(
        to right,
        rgba(255, 140, 0, 1) 0%,
        rgba(248, 0, 50, 1) 17%,
        rgba(255, 0, 160, 1) 35%,
        rgba(140, 40, 255, 1) 59%,
        rgba(0, 35, 255, 1) 76%,
        rgba(25, 160, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.loginLabel {
    font-weight: bold;
}

.formLinks {
    margin-bottom: 20px;
}

.formLinks a {
    text-decoration: none;
    color: #000ff5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.forgotPassword {
    color: #000ff5;
    text-decoration: none;
    font-size: 14px;
    align-self: flex-start;
    font-weight: bold;
}

.loginButton {
    background-color: #000ff5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .loginImage, .loginForm {
        width: 100%;
    }
}