{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Check Closing Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- webpage CSS -->
    <link href="{% static 'healthcheck.css'%}" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="form-container">

                    <div class="closingPage-progressBar">
                        <div class="progress" style="border-radius: 10px">
                            <div class="progress-fill closing-fill"></div>
                        </div>
                    </div>

                        <div class="closing-heading-container">
                            <h1 class="page-heading">Thank you! We have received your vote!</h1>
                        </div>
                    
                    <div class="closing-button-container">
                        <button class="results-button">View Results</button>
                        <button class="logOff-button">Log Off</button>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>