<!-- Co-authored: Student_A_Annie_Moradians, Student_B_Aathika_Ajmal_Basha, Student_C_Mai_Bucheeri, Student_D_Diego_Santos_de_Freitas -->
 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT NAME</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- webpage CSS -->
    <link href="{% static 'CSS FILE NAME'%}" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <main>
        <!-- your block code -->
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>